.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.logo h2{
    color: #70D3ED;
    font-size: 2.5rem;
}

.menu a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.6rem;
}